.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;

  .card {
    width: 49%;
    height: 35rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    &__title {
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
    }
    &__img {
      width: 100%;
      height: 60%;
      object-fit: cover;
    }
    &__content {
    }
  }
}
